{% extends "base.html" %}

{% block content %}
<div class="form-div">
    <h1 style="text-align: center;">Edit news</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.about.label }}<br>
            {{ form.about(class="form-control") }}<br>
            {% for error in form.about.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <div>
            <p>
                <div style="border: 1px solid #004385; padding: 20px;">
                    OLD PICTURE<br>
                    <img src="{{imgs_urls[0]}}" alt="no image" style="width: 400px; max-height: 400px; border-radius: 5px; margin: 10px;"><br>
                    {{ form.file_1(type="file", ) }} <br> {{ form.file_1_ignore() }} {{ form.file_1_ignore.label }}<br><br><br>
                </div>

                <div style="border: 1px solid #004385; padding: 20px;">
                    OLD PICTURE<br>
                    <img src="{{imgs_urls[1]}}" alt="no image" style="width: 400px; max-height: 400px; border-radius: 5px; margin: 10px;"><br>
                    {{ form.file_1(type="file", ) }} <br> {{ form.file_1_ignore() }} {{ form.file_1_ignore.label }}<br><br><br>
                </div>

                <div style="border: 1px solid #004385; padding: 20px;">
                    OLD PICTURE<br>
                    <img src="{{imgs_urls[2]}}" alt="no image" style="width: 400px; max-height: 400px; border-radius: 5px; margin: 10px;"><br>
                    {{ form.file_1(type="file", ) }} <br> {{ form.file_1_ignore() }} {{ form.file_1_ignore.label }}<br><br><br>
                </div>
            </p>
        </div>
        <p>
            {{ form.tags.label }}<br>
            {{ form.tags(class="form-control") }}<br>
            {% for error in form.tags.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <p style="color: #D10000"> {{message}} </p>
    </form>
</div>
{% endblock %}